@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}

.test{
    background: rgb(241, 241, 241);
    min-width: 275px;
    
    margin-left: 500px;
    margin-top: 150rem;
}
  
